@import "../scss/shared/colors";

.main {
    display: grid;
    grid-gap: 40px;

    .banner {
        height: calc(100vh - 80px);
        background-image: url("/public/images/banner.jpg");
        background-size: cover;
        background-position: 40% 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;

        &__title {
            max-width: 85%;
            text-align: right;
            padding-right: 15px;
            color: $white;
            font-size: 26px;
            font-weight: 600;

            &--red {
                color: $primary_light;
            }
        }
    }

    .section {
        padding: 100px 0;

        &__wrapper {
            display: grid;
            grid-gap: 15px;
        }

        &__title {
            position: relative;
            font-size: 24px;
            width: max-content;
            color: $primary;
            font-weight: 300;

            &::after {
                content: "";
                height: 2px;
                width: 105%;
                position: absolute;
                background: $primary;
                bottom: 0;
                left: 0;
            }
        }

        &--about-us {
            padding: 0;
        }

        &--what-we-do {
            background-image: url("/public/images/what-we-do-banner.jpg");
            background-size: cover;
            background-position: center top;
            height: 550px;

            .section__wrapper {
                display: grid;
                justify-content: end;
            }

            .section__title {
                width: 100%;
                color: $primary_light;
                text-align: center;
                font-size: 42px;

                &::after {
                    max-width: 150px;
                    left: calc(50% - 75px);
                    bottom: -2px;
                    background-color: $primary_light;
                }
            }

            .list {
                width: 100%;
                color: $white;
                font-size: 24px;
                padding-right: 20px;
                text-align: center;
                display: grid;
                grid-gap: 10px;
            }
        }
    }

    .band {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        background-image: url("/public/images/empty.jpg");
        background-size: cover;
        background-position: center center;

        h4 {
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .main {
        grid-gap: 100px;

        .banner {
            &__title {
                max-width: 60%;
                padding-right: 50px;
                font-size: 32px;
            }
        }

        .band {
            height: 150px;

            h4 {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .main {
        .banner {
            background-position: center center;

            &__title {
                padding-right: 100px;
                font-size: 44px;
            }
        }
    }
}
