@import '/assets/css/shared/fonts.css';
@import '/assets/css/header/index.css';
@import '/assets/css/footer/index.css';

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*, *:before, *:after {
	margin: 0px; 
	padding: 0px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	display: grid;
    grid-auto-rows: auto 1fr auto;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #333;

	height: 100%;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*---------------------------------------------*/
a:focus {outline: none;}
a, a:hover {text-decoration: none;}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6,p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input, textarea, label {
	display: block;
	outline: none;
	border: none;
}

/* ------------------------------------ */
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}
button:focus {outline: none;}

iframe {border: none;}

.container {
	padding: 0 15px;
}

@media screen and (min-width: 1200px) {
	.container {
		padding: 0 30px;
	}
}