@import "../shared/colors";

.footer {
    background-color: $primary;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;

        .copyright {
            font-size: 12px;
            color: $white;
        }

        .social-media {
        }
    }
}
