@import "../shared/colors";

.backtotop {
    display: inline-block;
    background-color: $primary_light;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
.backtotop::after {
    content: "";
    background-image: url("/public/images/up-arrow.svg");
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: $white;
}
.backtotop.show:hover {
    cursor: pointer;
    background-color: $primary;
    opacity: 1;
}
.backtotop.show:active {
    background-color: $primary;
    opacity: 1;
}
.backtotop.show {
    opacity: 0.8;
    visibility: visible;
}

.footer {
    background-color: $primary;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;

        .copyright {
            font-size: 12px;
            color: $white;
        }

        .social-media {
        }
    }
}
