.backtotop {
  display: inline-block;
  background-color: #ff5f53;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 98;
}
.backtotop::after {
  content: "";
  background-image: url("/public/images/up-arrow.svg");
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #ffffff;
}
.backtotop.show {
  opacity: 0.8;
  visibility: visible;
}
.backtotop.show:hover {
  cursor: pointer;
  background-color: #d52b1e;
  opacity: 1;
}
.backtotop.show:active {
  background-color: #d52b1e;
  opacity: 1;
}